###############################################################################
# Build
###############################################################################
Bin/
Build/

# Binary version of .rs (resource file)
*.aps
